
<% include ../partials/admheader %>
<div class="container">
<p><a href="/administracja/logout">wyloguj</a></p>


<h2 class="display-2">klasy VII Szkoły Podstawowej</h2>
<% wszystkieTerminy.forEach(function(termin) { %>
    <% if(termin.grade === 1 && termin.active) { %>
    <div>
        <h3>
            <a href="<%=termin._id%>"><%=termin.day%> godz. <%=termin.hour%></a>
        </h3>
    </div>
    <% } %>
<% }) %>
<h2 class="display-2">klasy VIII Szkoły Podstawowej</h2>
<% wszystkieTerminy.forEach(function(termin) { %>
    <% if(termin.grade === 2 && termin.active) { %>
    <div>
        <h3>
            <a href="<%=termin._id%>"><%=termin.day%> godz. <%=termin.hour%></a>
        </h3>
    </div>
    <% } %>
<% }) %>
<h2 class="display-2">klasy III gimnazjum</h2>
<% wszystkieTerminy.forEach(function(termin) { %>
    <% if(termin.grade === 3 && termin.active) { %>
    <div>
        <h3>
            <a href="<%=termin._id%>"><%=termin.day%> godz. <%=termin.hour%></a>
        </h3>
    </div>
    <% } %>
<% }) %>
</div>
<% include ../partials/admfooter %>
