<table>
    <tr>
        <th>Nazwisko</th>
        <th>Imię</th>
        <th>Szkoła</th>
        <th>Klasa</th>
        <th>e-mail</th>
        <th>Telefon</th>
        <th>Ulica</th>
        <th>Zweryfikowany</th>
        
    </tr>
    <% allStudents.forEach(function(student) { %>
        <% if(student.active) { %>
        <tr>
            <td><%=student.lastname%></td>
            <td><%=student.name%></td>
            <td><%=student.school%></td>
            <td><%=student.schoolClass%></td>
            <td><%=student.email%></td>
            <td><%=student.telephone%></td>
            <td><%=student.address%></td>
            <% if (student.verificated) { %>
                <td>zweryfikowany</td>
            <% } else { %>
                <td style="color: red">niezweryfikowany</td>
            <% } %>
        </tr>
            
        <% } %>
    <% }) %>
</table>