<% include ../partials/admheader %>
<table class="table table-striped">
    <tr>
        <th scope="col">Nazwisko</th>
        <th scope="col">Imię</th>
        <th scope="col">Szkoła</th>
        <th scope="col">Klasa</th>
        <th scope="col">e-mail</th>
        <th scope="col">Telefon</th>
        <th scope="col">Ulica</th>
        <th scope="col">Zweryfikowany</th>
        
    </tr>
    <% allStudents.forEach(function(student) { %>
        <% if(student.active) { %>
        <tr>
            <td><%=student.lastname%></td>
            <td><%=student.name%></td>
            <td><%=student.school%></td>
            <td><%=student.schoolClass%></td>
            <td><%=student.email%></td>
            <td><%=student.telephone%></td>
            <td><%=student.address%></td>
            <% if (student.verificated) { %>
                <td>zweryfikowany</td>
            <% } else { %>
                <td style="color: red">niezweryfikowany</td>
            <% } %>
        </tr>
            
        <% } %>
    <% }) %>
</table>
<% include ../partials/admfooter %>