<% include ../partials/formheader %>
        <header>
            <h1>Klasy <%=klasy%></h1>
        </header>
        <form action="/zapisy" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="imie">Imię</label>
              <input type="text" class="form-control" name="student[name]" id="imie" required>
            </div>
            <div class="form-group col-md-6">
              <label for="nazwisko">Nazwisko</label>
              <input type="text" class="form-control" name="student[lastname]" id="nazwisko" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" name="student[email]" id="inputEmail4" placeholder="Email" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">nr. telefonu</label>
              <input type="text" class="form-control" name="student[telephone]" id="inputPassword4" placeholder="123 456 789" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="szkola">Szkoła</label>
              <input type="text" class="form-control" name="student[school]" id="szkola" placeholder="np. Szkoła Podstawowa 162" required>
            </div>
            <div class="form-group col-md-6">
              <label for="klasa">Klasa</label>
              <input type="text" class="form-control" name="student[schoolClass]" id="klasa" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <div class="form-row">
              <label class="form-check-label" for="gridCheck">
                Na spotkania najbardziej chciałbym/ałabym uczęszczać w terminie:
              </label>
                  <% wszystkieTerminy.forEach(function(termin){ %>
                    <% if (termin.students.length < 30) { %>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="student[group]" id="wyb<%=termin.name%>" value="<%=termin._id%>" required>
                      <label class="form-check-label" for="wyb<%=termin.name%>">
                          <%=termin.day%>, godz. <%=termin.hour%>
                      </label>
                    </div>
                    <% } else { %>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="student[group]" id="wyb<%=termin.name%>" value="null" disabled>
                      <label class="form-check-label disabled"  for="wyb<%=termin.name%>">
                          <%=termin.day%>, godz. <%=termin.hour%> - brak miejsc!
                      </label>
                    </div>
                  <% } }) %>
                </div>

            </div>
          </div>
          <div class="form-group">
            <label>Adres</label>
            <select name="student[address]" id="inputAddress" class="custom-select custom-select-lg col-sm-12 col-md-3" required>
              <option value="" selected>Wybierz ulicę zamieszkania w Parafii</option>
              <option>ul.Bojki</option>
              <option>ul.Bujaka</option>
              <option>ul.Filipowicza</option>
              <option>ul.Halszki</option>
              <option>ul.Kordiana - bloki oraz nry 6, 6a, 10, 12, 16, 18, 26, 30</option>
              <option>ul.Łowienicka</option>
              <option>ul.Nazaretańska</option>
              <option>ul.Pagórkowa</option>
              <option>ul.Stojałowskiego</option>
              <option>ul.Turniejowa bloki od 59 do 73F oraz nry 67, 69, 70, 72</option>
              <option>ul.Witosa</option>
              <option>ul.Wysłouchów</option>
              <option>ul.Żaka</option>
              <option>INNY - POZA PARAFIĄ</option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="student[rodo]" id="gridCheck" required>
              <label class="form-check-label small" for="gridCheck" id="1zgoda">
                Oświadczam, że na podstawie przepisów Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE, zostałem/-am poinformowany/-a, iż:
                <a href="/OswiadczenieoDO.pdf" target="_blank">INFORMACJA</a>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="student[zgoda]" id="gridCheck2" required>
              <label class="form-check-label small" for="gridCheck2" id="2zgoda">
                Oświadczam, że wyrażam zgodę na przetwarzanie moich danych osobowych podanych w niniejszym formularzu rejestracyjnym w zakresie: imię, nazwisko, nazwa ulicy, adres poczty elektronicznej, numer telefonu, szkoła, klasa obejmujące następujące operacje: zbieranie, utrwalenie, porządkowanie, organizowanie, przechowywanie, pobieranie, przeglądanie, wykorzystywanie, tworzenie kopii zapasowych, modyfikowanie, ujawnienie poprzez rozpowszechnienie lub innego rodzaju udostępnienie, dopasowywanie, niszczenie, usuwanie
                na potrzeby rekrutacji do Kursu Przygotowującego do Sakramentu Bieżmowania w Parafii Podwyższenia Krzyża Świętego w Krakowie.
              </label>
            </div>
          </div>
          <div class="form-group col-md-3">
            <button type="submit" id="submit" class="btn brn-lg btn-primary btn-block <%=process.env.DISABLED%>" <%=process.env.DISABLED%>>Zapisz się</button>


        </form>
<% include ../partials/formfooter %>
